
    <% include ./head %>
      
          <% include ./header %>
          
          <div class="col-md-9">

              <div class="row carousel-holder">

                  <div class="col-md-12">
                      <div class="jumbotron">
                          <h1 class="display-4">Hello, world!</h1>
                          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                          <hr class="my-4">
                          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                          <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                          </p>
                        </div>
                  </div>

              </div>


              <div class="row">

                <%if (rows != undefined) { %>
                    <% for (var i = 0; i < rows.length; i++) {  %>

                        <%if (rows[i]['close'] != 'true' ) { %>

                            <%if (rows[i]['mainclose'] == 'true' ) { %>

                            <% } else { %>
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                    <div class="thumbnail">
                                        <img src="<%=rows[i]['image']%>" alt="" style="width: 135px; height: 180px">
                                        <div class="caption">
                                            <!-- <h4 class="pull-right">₩ <%=rows[i]['price']%></h4> -->
                                            <%if (rows[i]['section'] == '영상' ) { %>
                                            <h4><a href="/read/readbigmiddle?num=<%=rows[i]['bignum']%>"><%=rows[i]['title']%></a>
                                            <% } else { %>
                                                <h4><a href="/read/readbigmiddlegul?num=<%=rows[i]['bignum']%>"><%=rows[i]['title']%></a>
                                            <% } %>
                                            </h4>
        
                                            <p id="description<%=i%>"></p>
        
                                        </div>
                                    </div>
                                    <script>
                                            var htmlTag = "<%=rows[i]['description']%>";  
                                            var changeToText = $("<div></div>").html(htmlTag).text();
                                            document.getElementById("description" + "<%=i%>").innerHTML = changeToText;
                                            
                                    </script> 
                            </div>


                            <% } %>

                        
                        <% } %>

                    <% } %>


                <% } else { %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">￦0</h4>
                                <h4><a href="#">준비중입니다</a>
                                </h4>
                                <p>재미있는 코딩강좌를 준비중입니다. 조금만 기다려주세요.</p>
                            </div>

                        </div>
                    </div>

                <% } %>


                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <h4><a href="#">Like this template?</a>
                      </h4>
                      <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                      <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
                  </div>

              </div>

          </div>


    <% include ./footer %>
              
            
  </body>

</html>
