
    <% include ./head %>
      
          <% include ./header %>
          
          <div class="col-md-9">

              <div class="row carousel-holder">

                  <div class="col-md-12">
                      <div class="jumbotron">
                          <h1 class="display-4"><br><br></h1>
                          <br>
                          <p class="lead"></p>
                          <hr class="my-4">
                          <p style = "color: whitesmoke">작은일도 매일 생각하고, 상상하고, 행동하면 위대해진다.</p>
                          <p class="lead">
                            <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
                          </p>
                        </div>
                  </div>

              </div>

              <div class="row">

                <%if (rows != undefined) { %>
                    <% for (var i = 0; i < rows.length; i++) {  %>

                        <%if (rows[i]['close'] != 'true' ) { %>

                            <%if (rows[i]['mainclose'] == 'true' ) { %>

                            <% } else { %>
                            <div class="col-sm-4 col-lg-4 col-md-4">

                                    <%if (whoami != undefined) { %>
                                        <%if (whoami == 'abcnt') { %>
                                            <div class="pull-right"><a href="/write/bigmodiy?num=<%=rows[i]['bignum']%>" class="btn btn-default">수정</a></div>
                                        <% } %>
                                    <% } %>

                                    
                                    
                                    <div class="thumbnail">
                                        <img src="<%=rows[i]['image']%>" alt="" style="width: 135px; height: 180px">
                                        <div class="caption">
                                             
                                            <%if (rows[i]['section'] == '영상' ) { %>
                                            <h4><a href="/read/readbigmiddle?num=<%=rows[i]['bignum']%>"><%=rows[i]['title']%></a>
                                            <% } else { %>
                                                <h4><a href="/read/readbigmiddlegul?num=<%=rows[i]['bignum']%>"><%=rows[i]['title']%></a>
                                            <% } %>
                                            </h4>
        
                                            <p id="description<%=i%>"></p>
        
                                            
                                        </div>
                                       
                                    </div>
                                    <script>
                                            var htmlTag = "<%=rows[i]['description']%>";  
                                            var changeToText = $("<div></div>").html(htmlTag).text();
                                            document.getElementById("description" + "<%=i%>").innerHTML = changeToText;
                                            
                                    </script> 
                            </div>


                            <% } %>

                        
                        <% } %>

                    <% } %>


                <% } else { %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">￦0</h4>
                                <h4><a href="#">준비중입니다</a>
                                </h4>
                                <p>재미있는 코딩강좌를 준비중입니다. 조금만 기다려주세요.</p>
                            </div>

                        </div>
                    </div>

                <% } %>


                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <h4><a href="#">찾으시는 강좌가 없나요?</a>
                      </h4>
                      <p>원하시는 강좌가 있다면 방명록에 남겨주세요 :)<br> 의견을 최대한 반영해서 만들어보겠습니다.<br>위캔두코딩!</p>
                      <a class="btn btn-default" target="_blank" href="#">글남기기</a>
                  </div>

              </div>

          </div>


    <% include ./footer %>
              
            
  </body>

</html>
