
    <% include ../head %>

    <% include ../header %>

    <div class="col-md-9">
            <!-- Page Heading -->
            <div class="row">
                    <div class="col-lg-12">
                    <%if (onerow != undefined) { %>
                        <h1 class="page-header"><%=onerow[0]['title']%>
                            <small><%=onerow[0]['lang']%> <%=onerow[0]['section']%>강좌</small>
                        </h1>
                        
                           
                            <div id="description"></div>
                            <a href="<%=onerow[0]['fileurl']%>" class="btn btn-primary" role="button">파일다운로드</a>

                            <%if (onerow[0]['pay'] == 'false') { %>
                                <div class="text-right"><span class="label label-success">무료</span>&nbsp<span class="label label-default">₩ <%=onerow[0]['price']%></span></div>
                            <% } else { %>
                                <div class="text-right"><span class="label label-info text-right">유료</span>&nbsp<span class="label label-default">₩ <%=onerow[0]['price']%></span></div>
                            <%} %>
                            
                            <script>
                                    var htmlTag = "<%=onerow[0]['description']%>";  
                                    var changeToText = $("<div></div>").html(htmlTag).text();
                                    document.getElementById("description").innerHTML = changeToText;
                                    //console.log(changeToText); 
                            </script> 
                    <% } %>
                    <br>
                    <br>
                    <br>
                </div>
                <!-- /.row -->

        <hr>

        <h2 class="page-header">강좌구성</h2>
        
        <%if (middlerows != undefined) { %>
            <% for (var i = 0; i < middlerows.length; i++) {  %>
                <div class="row">
                        <div class="col-md-5">
                            <h4><%=middlerows[i]['title']%></h4>
                            <p id = "description<%=i%>"></p>
                            

                        </div>

                        <div class="col-md-1"></div>


                        <div class="col-md-5"><br>
                            <table class="table">
                                <thead>
                                        <tr>
                                            <th>강좌명</th>
                                            <th>길이</th>
                                            
                                        </tr>
                                </thead>
                                <tbody>
                                    <%if (postrows != undefined) { %>
                                        <% for (var ii = 0; ii < postrows.length; ii++) {  %>
                                            <%if (postrows[ii]['middlenum'] == middlerows[i]['middlenum']) { %>
                                                <tr>
                                                        <!-- <td><%=postrows[ii]['postnum']%></td> -->
                                                        <td><a href="/read/readpost?postnum=<%=postrows[ii]['postnum']%>&bignum=<%=middlerows[i]['bignum']%>"><%=postrows[ii]['title']%></a></td>
                                                        <td><%=postrows[ii]['videotime']%></td>
                                                </tr>
                                            <%}%>
                                        <% } %>
                                    <% } %>


                                </tbody>
                              </table>

                        </div>

                        <script>
                                var htmlTag = "<%=middlerows[i]['description']%>";  
                                var changeToText = $("<div></div>").html(htmlTag).text();
                                document.getElementById("description" + "<%=i%>").innerHTML = changeToText;
                                
                        </script> 
                </div>
                <hr>
            <% } %>
        <% } %>

                <!-- /.row -->
        
               
        
    </div>

</div>
    <% include ../footer %>
 
    <script>

    </script>
                 
  </body>

</html>
